body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    padding: 0;
    background-color:#1C1C1E;
}

form {
    margin: auto;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
    height: 60rem
}

h1 {
    text-align: center;
    color: #3dfcec;
    font-size: 45px;
    letter-spacing: 5px;
}

fieldset {
    border: 2px solid #32D6C7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #2C2C2E;
    margin-top: 10px;
    letter-spacing: 2px;
}

legend {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    color: #3ce9da;
    letter-spacing: 2.5px;
    padding: 0px 4px;
}

label {
    display: block;
    margin-top: 10px;
    color: #32D6C7;
    font-size: 18px;
    letter-spacing: 1px;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

button {
    display: block;
    width: 100%;
    background-color: #1C1C1E;
    color: #32D6C7;
    border: 1px solid #32D6C7;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    cursor: pointer;
    letter-spacing:5px;
}

button:hover {
    color: #3dfcec;
    background-color: #131314;
    transition: .5s;
    border: 1px solid #32D6C7;
    box-shadow: 0px 0px 8px #3dfcec;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #1C1C1E;
    color: #32D6C7;
    border: 1px solid #32D6C7;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    cursor: pointer;
    letter-spacing:5px;
    margin: 15px auto;
}

strong {
    color: #32D6C7;
    font-size: 20px
}

span {
    color: #ffffff;
    font-size: 18px;
    margin-left: 8px;
}

h3 {
    color: #32D6C7;
    font-size: 30px; 
}

p{
    color: #ebebeb;
    font-size: 18px;
}

.shareable-h2 {
    text-align: center;
    color: #3dfcec;
    font-size: 35px;
    letter-spacing: 5px;
}

.shareable-p {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    letter-spacing: 1.2px;
}

.shareable-a {
    text-decoration: none;
    color: #FFD700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#resume-display h2 {
    color: #3dfcec;
    font-size: 30px;
}

#resume-display {
    max-width: 800px; /* Controls the width of the resume for PDF and screen */
    padding: 20px;
    margin: 0 auto; /* Center the resume */
    border: 2px solid #32D6C7;
    background-color: #000000;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    word-wrap: break-word;
}

/* Optional - Additional print styles to ensure it fits on a page */
@media print {
    #resume-display {
        width: 100%;
        max-width: 100%;
        page-break-inside: avoid;
        margin: 0;
        padding: 0;
        border: none;
    }
}



